.top{
  display:flex;
  justify-content: end;
  padding-top:16px;
  padding-bottom:16px;
}

.top >button{
  background-color : white;
  border-color: #3800A8;
  border-radius: 50px;
  font-size:14px;
  padding:8px;
  padding-left:16px;
  padding-right:16px;
  font-weight:bold;
  margin-left:32px;
}


span{
    vertical-align:right;
    margin-left:24px;
    margin-right:24px;
    gap:40px;
}

body{
    padding-left : 10%;
    padding-right : 10%;
    font-family: 'Pretendard-Regular';

}

.hr{
    height:10px;
    background-color:#3800A8;
}

#Title{
    font-size:32px;;
    font-weight: bolder;
    color:#3800A8;
}
.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height:400px;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    font-size : 18px;
    font-weight:bold;
    background-color:#e9deff;
    outline-width:2px;
    outline-style:none;
    outline-color:blue;
    grid-column: 1;
    grid-row: 1;
  }
  .two {
    outline-width:2px;
    outline-style:dashed;
    outline-color:blue;
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .three {
    outline-width:2px;
    outline-style:dashed;
    outline-color:blue;
    grid-column: 3/3;
    grid-row: 1;
  }

.search{
    position:relative;
    text-align: center;
    width : 100%;
    margin-top:30px;
    margin-bottom:30px;
}

input{
    margin-bottom : 32px;
    width:80%;
    height:40px;
    font-size:20px;
    font-weight: normal;
    justify-content: baseline;
    padding-left:16px;
    border-radius: 30px;
    border: 1.7px solid #565656a3;
}

form > button{
  margin-left : 16px;
  border-radius:50px;
  font-family:"Ptretendard";
  font-size:14px;
  padding:10px;
  background-color: #ffffff;
  border-color: #3800A8;
}

p{text-align : center;}