.dic-daum-net-by-html {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .dic-daum-net-by-html .overlap-wrapper {
    background-color: #ffffff;
    border: 1px none;
    height: 1080px;
    width: 1920px;
  }
  
  .dic-daum-net-by-html .overlap {
    height: 3227px;
    position: relative;
  }
  
  .dic-daum-net-by-html .div-kakaowrap {
    align-items: flex-start;
    background-color: #f4f5f7;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .dic-daum-net-by-html .banner {
    align-items: flex-start;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #d9dade;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 0px 435px 1px;
    position: relative;
    width: 1920px;
  }
  
  .dic-daum-net-by-html .div-commonheader {
    background-color: #ffffff;
    height: 88px;
    position: relative;
    width: 1050px;
  }
  
  .dic-daum-net-by-html .overlap-group {
    height: 38px;
    position: relative;
    top: 25px;
  }
  
  .dic-daum-net-by-html .heading {
    align-items: flex-start;
    display: flex;
    gap: 10.5px;
    left: 0;
    padding: 9px 927px 0px 1.5px;
    position: absolute;
    top: 0;
    width: 1050px;
  }
  
  .dic-daum-net-by-html .link-gnb-logo {
    height: 80px;
    position: relative;
    width: 80px;
  }
  
  .dic-daum-net-by-html .link {
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    width: 56px;
  }
  
  .dic-daum-net-by-html .navigation-list {
    align-items: flex-end;
    display: flex;
    left: 441px;
    position: absolute;
    top: 7px;
    width: 328px;
  }
  
  .dic-daum-net-by-html .item {
    align-items: center;
    display: flex;
    gap: 12px;
    padding: 0px 14.31px 0px 0px;
    position: relative;
    width: 115.69px;
  }
  
  .dic-daum-net-by-html .div {
    height: 25.5px;
    position: relative;
    width: 85.38px;
  }
  
  .dic-daum-net-by-html .text-wrapper {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 26px;
    left: 0;
    letter-spacing: 0;
    line-height: 25.5px;
    position: absolute;
    top: -2px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .span-img-comm {
    background-position: 50% 50%;
    background-size: cover;
    height: 15px;
    left: 70px;
    position: absolute;
    top: 5px;
    width: 15px;
  }
  
  .dic-daum-net-by-html .text-wrapper-2 {
    color: #e7e8e8;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -0.25px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .item-2 {
    align-items: flex-end;
    display: flex;
    gap: 11.92px;
    padding: 0px 14.31px 0.5px 0px;
    position: relative;
    width: 77.23px;
  }
  
  .dic-daum-net-by-html .link-2 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25.5px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .text-wrapper-3 {
    color: #e7e8e8;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .item-link {
    height: 25.5px;
    position: relative;
    width: 58.28px;
  }
  
  .dic-daum-net-by-html .text-wrapper-4 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    height: 26px;
    left: 0;
    letter-spacing: 0;
    line-height: 25.5px;
    position: absolute;
    top: -2px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .span-img-comm-2 {
    background-position: 50% 50%;
    background-size: cover;
    height: 14px;
    left: 34px;
    position: absolute;
    top: 6px;
    width: 24px;
  }
  
  .dic-daum-net-by-html .form-fieldset {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d0d0d0;
    border-radius: 3px;
    display: flex;
    gap: 12px;
    left: 139px;
    padding: 1px 13px 1px 16px;
    position: absolute;
    top: 0;
    width: 700px;
  }
  
  .dic-daum-net-by-html .input {
    align-items: flex-start;
    display: flex;
    padding: 0px 203px 0px 0px;
    position: relative;
    width: 219px;
  }
  
  .dic-daum-net-by-html .text-wrapper-5 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .button {
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/button-1@2x.png);
    background-position: 90% 90%;
    background-size: cover;
    height: 20px;
    position: relative;
    width: 20px;
  }
  
  .dic-daum-net-by-html .div-kakaocontent {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 0px 50px;
    position: relative;
    width: 1920px;
  }
  
  .dic-daum-net-by-html .div-msub {
    align-items: flex-start;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #eeeff0;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 0px 435px 1px;
    position: relative;
    width: 1920px;
  }
  
  .dic-daum-net-by-html .div-inner-top {
    height: 270px;
    position: relative;
    width: 1050px;
  }
  
  .dic-daum-net-by-html .overlap-2 {
    height: 125px;
    left: 35px;
    position: absolute;
    top: 47px;
    width: 620px;
  }
  
  .dic-daum-net-by-html .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 0;
    padding: 2px 0px;
    position: absolute;
    top: 0;
  }
  
  .dic-daum-net-by-html .text-wrapper-6 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 44px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .list {
    align-items: flex-start;
    display: flex;
    left: 0;
    padding: 13px 0px 0px;
    position: absolute;
    top: 46px;
    width: 620px;
  }
  
  .dic-daum-net-by-html .span-txt-mean-wrapper {
    align-items: flex-start;
    display: flex;
    padding: 0px 16px 0px 0px;
    position: relative;
    width: 620px;
  }
  
  .dic-daum-net-by-html .span-txt-mean {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 50px 0px 0px;
    position: relative;
  }
  
  .dic-daum-net-by-html .p {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 33px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .div-annex-word {
    align-items: flex-start;
    display: flex;
    left: 35px;
    padding: 6px 480.02px 0px 0px;
    position: absolute;
    top: 179px;
    width: 620px;
  }
  
  .dic-daum-net-by-html .div-word-voice {
    align-items: flex-start;
    display: flex;
    padding: 8px 9px 9px 0px;
    position: relative;
    width: 139.98px;
  }
  
  .dic-daum-net-by-html .emphasis {
    height: 19px;
    position: relative;
    width: 130.98px;
  }
  
  .dic-daum-net-by-html .text-wrapper-7 {
    color: #688ab3;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .overlap-group-2 {
    height: 35px;
    left: 38px;
    position: absolute;
    top: -8px;
    width: 69px;
  }
  
  .dic-daum-net-by-html .span-img-comm-wrapper {
    align-items: flex-start;
    border: 1px solid;
    border-color: #d0d0d0;
    border-radius: 3px 0px 0px 3px;
    display: flex;
    left: 0;
    padding: 11px 8px 10px 9px;
    position: absolute;
    top: 0;
    width: 35px;
  }
  
  .dic-daum-net-by-html .span-img-comm-3 {
    background-position: 50% 50%;
    background-size: cover;
    height: 14px;
    position: relative;
    width: 18px;
  }
  
  .dic-daum-net-by-html .link-3 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #d0d0d0;
    border-radius: 0px 3px 3px 0px;
    display: flex;
    left: 34px;
    padding: 11px 8px 10px 9px;
    position: absolute;
    top: 0;
    width: 35px;
  }
  
  .dic-daum-net-by-html .span-img-comm-4 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/span-img-comm-14@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 14px;
    position: relative;
    width: 18px;
  }
  
  .dic-daum-net-by-html .link-4 {
    align-items: flex-start;
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/link-8@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    left: 825px;
    padding: 0px 97px 1px 30px;
    position: absolute;
    top: 48px;
    width: 190px;
  }
  
  .dic-daum-net-by-html .text-wrapper-8 {
    color: #0090ff;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 45px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .link-5 {
    align-items: flex-start;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    left: 825px;
    padding: 0px 113px 1px 30px;
    position: absolute;
    top: 103px;
    width: 190px;
  }
  
  .dic-daum-net-by-html .text-wrapper-9 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 45px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .link-6 {
    height: 26px;
    left: 879px;
    position: absolute;
    top: 220px;
    width: 116px;
  }
  
  .dic-daum-net-by-html .text-wrapper-10 {
    color: #666666;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 26px;
    left: 0;
    letter-spacing: 0;
    line-height: 25.5px;
    position: absolute;
    top: -2px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .span-img-comm-5 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/span-img-comm-13@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 15px;
    left: 107px;
    position: absolute;
    top: 5px;
    width: 9px;
  }
  
  .dic-daum-net-by-html .div-marticle {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 1050px;
  }
  
  .dic-daum-net-by-html .div-detail-cont {
    align-items: flex-start;
    display: flex;
    gap: 20px;
    position: relative;
    width: 1050px;
  }
  
  .dic-daum-net-by-html .div-cont-left {
    height: 2614.5px;
    position: relative;
    width: 600px;
  }
  
  .dic-daum-net-by-html .span-inner-tit-wrapper {
    align-items: flex-start;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    left: 221px;
    padding: 0px 35px;
    position: absolute;
    top: 31px;
  }
  
  .dic-daum-net-by-html .span-inner-tit {
    background-color: #f4f5f7;
    height: 34.5px;
    position: relative;
    width: 88.5px;
  }
  
  .dic-daum-net-by-html .text-wrapper-11 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 28px;
    left: 8px;
    letter-spacing: 0;
    line-height: 34.5px;
    position: absolute;
    text-align: center;
    top: 2px;
    white-space: nowrap;
    width: 73px;
  }
  
  .dic-daum-net-by-html .heading-2 {
    align-items: flex-start;
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/heading-4-3.gif);
    background-position: 50% 50%;
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    left: 225px;
    padding: 0px 35px 0px 35px;
    position: absolute;
    top: 1880px;
  }
  
  .dic-daum-net-by-html .span-inner-tit-2 {
    background-color: #f4f5f7;
    height: 34.5px;
    position: relative;
    width: 79.48px;
  }
  
  .dic-daum-net-by-html .text-wrapper-12 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 23px;
    font-weight: 400;
    height: 28px;
    left: 8px;
    letter-spacing: 0;
    line-height: 34.5px;
    position: absolute;
    text-align: center;
    top: 2px;
    white-space: nowrap;
    width: 64px;
  }
  
  .dic-daum-net-by-html .heading-3 {
    align-items: flex-start;
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/heading-4-3.gif);
    background-position: 50% 50%;
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    left: 200px;
    padding: 0px 35px;
    position: absolute;
    top: 2404px;
  }
  
  .dic-daum-net-by-html .span-inner-tit-3 {
    background-color: #f4f5f7;
    height: 34.5px;
    position: relative;
    width: 130.83px;
  }
  
  .dic-daum-net-by-html .text-wrapper-13 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 28px;
    left: 8px;
    letter-spacing: 0;
    line-height: 34.5px;
    position: absolute;
    text-align: center;
    top: 2px;
    white-space: nowrap;
    width: 115px;
  }
  
  .dic-daum-net-by-html .div-card-word {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eeeff0;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 1px;
    position: absolute;
    top: 78px;
    width: 600px;
  }
  
  .dic-daum-net-by-html .list-2 {
    align-items: flex-start;
    background-color: #ffffff;
    display: flex;
    flex: 0 0 auto;
    padding: 0px 387.71px 0px 20px;
    position: relative;
    width: 598px;
  }
  
  .dic-daum-net-by-html .item-3 {
    align-items: center;
    display: flex;
    gap: 3.81px;
    position: relative;
    width: 99.73px;
  }
  
  .dic-daum-net-by-html .link-7 {
    height: 58px;
    position: relative;
    width: 94.92px;
  }
  
  .dic-daum-net-by-html .text-wrapper-14 {
    color: #0090ff;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    height: 26px;
    left: 14px;
    letter-spacing: 0;
    line-height: 25.5px;
    position: absolute;
    top: 16px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .pseudo {
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/pseudo@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 12px;
    left: 67px;
    overflow: hidden;
    position: absolute;
    top: 22px;
    width: 14px;
  }
  
  .dic-daum-net-by-html .text-wrapper-15 {
    color: #0090ff;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 12px;
    left: 0;
    letter-spacing: 0;
    line-height: 0.1px;
    position: absolute;
    top: -1px;
    width: 14px;
  }
  
  .dic-daum-net-by-html .span-txt-bar {
    background-color: #e7e8e8;
    height: 14px;
    position: relative;
    width: 1px;
  }
  
  .dic-daum-net-by-html .link-wrapper {
    align-items: flex-start;
    display: flex;
    padding: 17px 13.56px 15px 14px;
    position: relative;
    width: 90.56px;
  }
  
  .dic-daum-net-by-html .div-box-word {
    border-color: #eeeff0;
    border-top-style: solid;
    border-top-width: 1px;
    height: 652px;
    position: relative;
    width: 598px;
  }
  
  .dic-daum-net-by-html .div-annex-word-2 {
    align-items: flex-start;
    display: flex;
    left: 0;
    padding: 6px 325.3px 0px 35px;
    position: absolute;
    top: 89px;
    width: 598px;
  }
  
  .dic-daum-net-by-html .emphasis-wrapper {
    align-items: flex-start;
    display: flex;
    padding: 8px 0px 9px;
    position: relative;
    width: 130.98px;
  }
  
  .dic-daum-net-by-html .span-img-comm-6 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/span-img-comm-12@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 14px;
    position: relative;
    width: 18px;
  }
  
  .dic-daum-net-by-html .span-img-comm-7 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/span-img-comm-11@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 14px;
    position: relative;
    width: 18px;
  }
  
  .dic-daum-net-by-html .div-word-voice-2 {
    align-items: flex-start;
    display: flex;
    padding: 8px 0px;
    position: relative;
    width: 106.72px;
  }
  
  .dic-daum-net-by-html .emphasis-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12.58px;
    padding: 0px 14.14px 0px 0px;
    position: relative;
  }
  
  .dic-daum-net-by-html .text-wrapper-16 {
    color: #688ab3;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .text-wrapper-17 {
    color: #666666;
    font-family: "New Gulim-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .link-8 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 26px 282px 29px;
    position: absolute;
    top: 581px;
    width: 598px;
  }
  
  .dic-daum-net-by-html .span-img-comm-8 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/span-img-comm-10@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 16px;
    position: relative;
    width: 34px;
  }
  
  .dic-daum-net-by-html .div-sub-word {
    align-items: flex-start;
    display: flex;
    gap: 30px;
    left: 0;
    padding: 0px 34px;
    position: absolute;
    top: 34px;
    width: 598px;
  }
  
  .dic-daum-net-by-html .strong {
    height: 54px;
    position: relative;
    width: 460px;
  }
  
  .dic-daum-net-by-html .overlap-group-3 {
    height: 54px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 41px;
  }
  
  .dic-daum-net-by-html .text-wrapper-18 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    height: 54px;
    left: 0;
    letter-spacing: 0;
    line-height: 54px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .superscript {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 28px;
    left: 32px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .overlap-group-4 {
    height: 24px;
    left: 51px;
    position: absolute;
    top: 14px;
    width: 29px;
  }
  
  .dic-daum-net-by-html .text-wrapper-19 {
    color: #666666;
    font-family: "New Gulim-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 24px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .text-wrapper-20 {
    color: #666666;
    font-family: "New Gulim-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 24px;
    left: 7px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .text-wrapper-21 {
    color: #666666;
    font-family: "New Gulim-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 24px;
    left: 80px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 14px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .link-9 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/link-6@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 40px;
    position: relative;
    width: 40px;
  }
  
  .dic-daum-net-by-html .div-fold-ex {
    border-color: #f2f2f2;
    border-top-style: solid;
    border-top-width: 1px;
    height: 420px;
    left: 34px;
    position: absolute;
    top: 161px;
    width: 530px;
  }
  
  .dic-daum-net-by-html .div-wrap-extit {
    height: 30px;
    left: 0;
    position: absolute;
    top: 31px;
    width: 530px;
  }
  
  .dic-daum-net-by-html .strong-2 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 27px;
    left: 0;
    letter-spacing: 0;
    line-height: 33px;
    position: absolute;
    top: 2px;
    white-space: nowrap;
    width: 41px;
  }
  
  .dic-daum-net-by-html .link-10 {
    border: 1px solid;
    border-color: #e0e0e0;
    border-radius: 15px;
    height: 30px;
    left: 445px;
    position: absolute;
    top: 0;
    width: 85px;
  }
  
  .dic-daum-net-by-html .text-wrapper-22 {
    color: #666666;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    height: 28px;
    left: 14px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .span-img-comm-9 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/span-img-comm-9@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 3px;
    left: 66px;
    position: absolute;
    top: 13px;
    width: 5px;
  }
  
  .dic-daum-net-by-html .overlap-3 {
    height: 55px;
    left: 0;
    position: absolute;
    top: 80px;
    width: 530px;
  }
  
  .dic-daum-net-by-html .text-wrapper-23 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 17px;
    font-weight: 400;
    height: 26px;
    left: 0;
    letter-spacing: 0;
    line-height: 25.5px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .p-desc-item {
    align-items: flex-start;
    display: flex;
    left: 0;
    padding: 0px 44px 0px 30px;
    position: absolute;
    top: 1px;
    width: 530px;
  }
  
  .dic-daum-net-by-html .text-wrapper-24 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 27px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .list-3 {
    align-items: flex-start;
    border-color: #ededed;
    border-left-style: solid;
    border-left-width: 2px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    left: 30px;
    padding: 2px 414px 0px 17px;
    position: absolute;
    top: 143px;
    width: 500px;
  }
  
  .dic-daum-net-by-html .item-4 {
    color: #777777;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -2px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .item-5 {
    color: #777777;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .pseudo-2 {
    background-color: #ffffff;
    height: 7px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
  }
  
  .dic-daum-net-by-html .pseudo-3 {
    background-color: #ffffff;
    height: 5px;
    left: 0;
    position: absolute;
    top: 39px;
    width: 2px;
  }
  
  .dic-daum-net-by-html .descriptions {
    align-items: flex-start;
    border: 1px solid;
    border-color: #ececec;
    border-radius: 3px;
    display: flex;
    gap: 9.61px;
    left: 0;
    overflow: hidden;
    padding: 10px 30px 11px 30px;
    position: absolute;
    top: 197px;
    width: 530px;
  }
  
  .dic-daum-net-by-html .term {
    color: #688ab3;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22.5px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .details {
    align-items: flex-start;
    display: flex;
    padding: 0px 369.39px 0.5px 0px;
    position: relative;
    width: 432.39px;
  }
  
  .dic-daum-net-by-html .text-wrapper-25 {
    color: #666666;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22.5px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .descriptions-2 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #ececec;
    border-radius: 3px;
    display: flex;
    gap: 9.41px;
    left: 0;
    overflow: hidden;
    padding: 10px 101px 11px 30px;
    position: absolute;
    top: 254px;
    width: 530px;
  }
  
  .dic-daum-net-by-html .p-wrapper {
    align-items: flex-start;
    display: flex;
    padding: 0px 18.59px 0.5px 0px;
    position: relative;
    width: 347.59px;
  }
  
  .dic-daum-net-by-html .link-11 {
    height: 20px;
    left: 441px;
    position: absolute;
    top: 11px;
    width: 62px;
  }
  
  .dic-daum-net-by-html .text-wrapper-26 {
    color: #666666;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 23px;
    left: 0;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: -2px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .span-img-comm-10 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/span-img-comm-8@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 16px;
    left: 46px;
    position: absolute;
    top: 3px;
    width: 16px;
  }
  
  .dic-daum-net-by-html .overlap-4 {
    height: 28px;
    left: 0;
    position: absolute;
    top: 318px;
    width: 530px;
  }
  
  .dic-daum-net-by-html .text-wrapper-27 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 26px;
    left: 0;
    letter-spacing: 0;
    line-height: 25.5px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .p-desc-item-2 {
    align-items: flex-start;
    display: flex;
    left: 0;
    padding: 0px 222px 1px 30px;
    position: absolute;
    top: 0;
    width: 530px;
  }
  
  .dic-daum-net-by-html .text-wrapper-28 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 27px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .overlap-5 {
    height: 55px;
    left: 0;
    position: absolute;
    top: 365px;
    width: 530px;
  }
  
  .dic-daum-net-by-html .element-wrapper {
    align-items: flex-start;
    display: flex;
    left: 0;
    padding: 0px 50px 0px 30px;
    position: absolute;
    top: 1px;
    width: 530px;
  }
  
  .dic-daum-net-by-html .div-box-word-2 {
    border-color: #eeeff0;
    border-top-style: solid;
    border-top-width: 1px;
    height: 217px;
    position: relative;
    width: 598px;
  }
  
  .dic-daum-net-by-html .list-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 8px 223.53px 0px 35px;
    position: absolute;
    top: 88px;
    width: 598px;
  }
  
  .dic-daum-net-by-html .item-6 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 4.05px;
    padding: 0px 10.99px 0px 0px;
    position: relative;
    width: 315.81px;
  }
  
  .dic-daum-net-by-html .text-wrapper-29 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .span-txt-mean-2 {
    align-items: flex-start;
    display: flex;
    padding: 0px 8.77px 0px 0px;
    position: relative;
    width: 288.77px;
  }
  
  .dic-daum-net-by-html .text-wrapper-30 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .item-7 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 1.05px;
    padding: 0px 11px 0px 0px;
    position: relative;
    width: 339.47px;
  }
  
  .dic-daum-net-by-html .text-wrapper-31 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .span-txt-mean-3 {
    align-items: flex-start;
    display: flex;
    padding: 0px 12.42px 0px 0px;
    position: relative;
    width: 312.42px;
  }
  
  .dic-daum-net-by-html .link-12 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 24px 282px 29px;
    position: absolute;
    top: 148px;
    width: 598px;
  }
  
  .dic-daum-net-by-html .span-img-comm-11 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/span-img-comm-7@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 16px;
    position: relative;
    width: 34px;
  }
  
  .dic-daum-net-by-html .div-box-word-3 {
    border-color: #eeeff0;
    border-top-style: solid;
    border-top-width: 1px;
    height: 243px;
    position: relative;
    width: 598px;
  }
  
  .dic-daum-net-by-html .list-5 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 8px 35px 0px;
    position: absolute;
    top: 88px;
    width: 598px;
  }
  
  .dic-daum-net-by-html .item-8 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 4.05px;
    padding: 0px 10.99px 0px 0px;
    position: relative;
    width: 257.45px;
  }
  
  .dic-daum-net-by-html .span-txt-mean-4 {
    align-items: flex-start;
    display: flex;
    padding: 0px 9.41px 0px 0px;
    position: relative;
    width: 230.41px;
  }
  
  .dic-daum-net-by-html .item-9 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 1.05px;
    padding: 0px 11px 0px 0px;
    position: relative;
    width: 528px;
  }
  
  .dic-daum-net-by-html .span-txt-mean-5 {
    align-items: flex-start;
    display: flex;
    padding: 0px 24.95px 0px 0px;
    position: relative;
    width: 500.95px;
  }
  
  .dic-daum-net-by-html .text-wrapper-32 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .link-13 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 24px 282px 29px;
    position: absolute;
    top: 174px;
    width: 598px;
  }
  
  .dic-daum-net-by-html .div-box-word-4 {
    border-color: #eeeff0;
    border-top-style: solid;
    border-top-width: 1px;
    height: 191px;
    position: relative;
    width: 598px;
  }
  
  .dic-daum-net-by-html .item-wrapper {
    align-items: flex-start;
    display: flex;
    left: 0;
    padding: 8px 139.09px 0px 35px;
    position: absolute;
    top: 88px;
    width: 598px;
  }
  
  .dic-daum-net-by-html .item-10 {
    align-items: flex-start;
    display: flex;
    padding: 0px 11px 0px 0px;
    position: relative;
    width: 423.91px;
  }
  
  .dic-daum-net-by-html .span-txt-mean-6 {
    align-items: flex-start;
    display: flex;
    padding: 0px 11.91px 0px 0px;
    position: relative;
    width: 412.91px;
  }
  
  .dic-daum-net-by-html .link-14 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 24px 282px 29px;
    position: absolute;
    top: 122px;
    width: 598px;
  }
  
  .dic-daum-net-by-html .text-wrapper-33 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 33px;
    font-weight: 400;
    height: 54px;
    left: 0;
    letter-spacing: 0;
    line-height: 54px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .superscript-2 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 28px;
    left: 47px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .overlap-group-5 {
    height: 24px;
    left: 66px;
    position: absolute;
    top: 14px;
    width: 29px;
  }
  
  .dic-daum-net-by-html .text-wrapper-34 {
    color: #666666;
    font-family: "New Gulim-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 24px;
    left: 95px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 14px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .list-6 {
    align-items: flex-start;
    display: flex;
    left: 0;
    padding: 8px 35px 0px;
    position: absolute;
    top: 88px;
    width: 598px;
  }
  
  .dic-daum-net-by-html .item-11 {
    align-items: flex-start;
    display: flex;
    padding: 0px 11px 0px 0px;
    position: relative;
    width: 528px;
  }
  
  .dic-daum-net-by-html .span-txt-mean-7 {
    align-items: flex-start;
    display: flex;
    padding: 0px 30px 0px 0px;
    position: relative;
    width: 517px;
  }
  
  .dic-daum-net-by-html .list-7 {
    align-items: flex-start;
    display: flex;
    left: 0;
    padding: 8px 49.45px 0px 35px;
    position: absolute;
    top: 88px;
    width: 598px;
  }
  
  .dic-daum-net-by-html .item-12 {
    align-items: flex-start;
    display: flex;
    padding: 0px 11px 0px 0px;
    position: relative;
    width: 513.55px;
  }
  
  .dic-daum-net-by-html .span-txt-mean-8 {
    align-items: flex-start;
    display: flex;
    padding: 0px 13.55px 0px 0px;
    position: relative;
    width: 502.55px;
  }
  
  .dic-daum-net-by-html .div-box-word-wrapper {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eeeff0;
    display: flex;
    left: 0;
    padding: 1px;
    position: absolute;
    top: 1928px;
    width: 600px;
  }
  
  .dic-daum-net-by-html .div-box-word-5 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 34px 0px 0px;
    position: relative;
    width: 598px;
  }
  
  .dic-daum-net-by-html .div-wrap-tit {
    height: 33px;
    position: relative;
    width: 598px;
  }
  
  .dic-daum-net-by-html .strong-3 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 33px;
    left: 34px;
    letter-spacing: 0;
    line-height: 33px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .text-wrapper-35 {
    color: #888888;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 25px;
    left: 99px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 5px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .list-8 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 3px 34px 0px;
    position: relative;
    width: 598px;
  }
  
  .dic-daum-net-by-html .div-2 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 0.5px;
    padding: 7px 0px 0px;
    position: relative;
    width: 530px;
  }
  
  .dic-daum-net-by-html .link-15 {
    color: #0090ff;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25.5px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .span-mean-info {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    padding: 1px 165px 0px 0px;
    position: relative;
    width: 530px;
  }
  
  .dic-daum-net-by-html .text-wrapper-36 {
    color: #666666;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .item-13 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 0.5px;
    padding: 13px 0px 0px;
    position: relative;
    width: 530px;
  }
  
  .dic-daum-net-by-html .span-mean-info-2 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    padding: 1px 76px 0px 0px;
    position: relative;
    width: 530px;
  }
  
  .dic-daum-net-by-html .span-mean-info-3 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    padding: 1px 278px 0px 0px;
    position: relative;
    width: 530px;
  }
  
  .dic-daum-net-by-html .span-mean-info-4 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    padding: 1px 186px 0px 0px;
    position: relative;
    width: 530px;
  }
  
  .dic-daum-net-by-html .span-mean-info-5 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    padding: 1px 384px 0px 0px;
    position: relative;
    width: 530px;
  }
  
  .dic-daum-net-by-html .link-16 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 26px 282px 29px;
    position: relative;
    width: 598px;
  }
  
  .dic-daum-net-by-html .div-card-word-2 {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eeeff0;
    display: flex;
    left: 0;
    padding: 1px;
    position: absolute;
    top: 2451px;
    width: 600px;
  }
  
  .dic-daum-net-by-html .div-box-word-6 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 34px 0px 36px;
    position: relative;
    width: 598px;
  }
  
  .dic-daum-net-by-html .text-wrapper-37 {
    color: #888888;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 25px;
    left: 78px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 5px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .link-17 {
    color: #0090ff;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25.5px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .span-mean-info-6 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    padding: 1px 153px 0px 0px;
    position: relative;
    width: 530px;
  }
  
  .dic-daum-net-by-html .div-cont-right {
    height: 1026.5px;
    position: relative;
    width: 430px;
  }
  
  .dic-daum-net-by-html .heading-4 {
    align-items: flex-start;
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/heading-4-3.gif);
    background-position: 50% 50%;
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    left: 151px;
    padding: 0px 35px;
    position: absolute;
    top: 31px;
  }
  
  .dic-daum-net-by-html .span-inner-tit-4 {
    background-color: #f4f5f7;
    height: 34.5px;
    position: relative;
    width: 58.33px;
  }
  
  .dic-daum-net-by-html .text-wrapper-38 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 23px;
    font-weight: 400;
    height: 28px;
    left: 8px;
    letter-spacing: 0;
    line-height: 34.5px;
    position: absolute;
    text-align: center;
    top: 2px;
    white-space: nowrap;
    width: 43px;
  }
  
  .dic-daum-net-by-html .link-18 {
    align-items: flex-start;
    display: flex;
    left: 0;
    position: absolute;
    top: 78px;
    width: 430px;
  }
  
  .dic-daum-net-by-html .app-banner-pc {
    height: 105px;
    position: relative;
    width: 430px;
  }
  
  .dic-daum-net-by-html .pseudo-4 {
    border: 1px solid;
    border-color: #0000000d;
    height: 105px;
    left: 0;
    position: absolute;
    top: 0;
    width: 430px;
  }
  
  .dic-daum-net-by-html .div-cont-example-wrapper {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eeeff0;
    display: flex;
    left: 0;
    padding: 1px;
    position: absolute;
    top: 190px;
    width: 430px;
  }
  
  .dic-daum-net-by-html .div-cont-example {
    height: 540px;
    position: relative;
    width: 428px;
  }
  
  .dic-daum-net-by-html .text-wrapper-39 {
    color: #888888;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 25px;
    left: 34px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 28px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .overlap-6 {
    height: 486px;
    left: 0;
    position: absolute;
    top: 54px;
    width: 428px;
  }
  
  .dic-daum-net-by-html .list-9 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 0px 34px;
    position: absolute;
    top: 0;
    width: 428px;
  }
  
  .dic-daum-net-by-html .span-txt-example-wrapper {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    padding: 13px 0px 23px;
    position: relative;
    width: 360px;
  }
  
  .dic-daum-net-by-html .span-txt-example {
    height: 48px;
    position: relative;
    width: 360px;
  }
  
  .dic-daum-net-by-html .overlap-group-6 {
    height: 48px;
    position: relative;
    top: -1px;
    width: 290px;
  }
  
  .dic-daum-net-by-html .element {
    color: transparent;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
  }
  
  .dic-daum-net-by-html .span {
    color: #000000;
  }
  
  .dic-daum-net-by-html .text-wrapper-40 {
    color: #0090ff;
  }
  
  .dic-daum-net-by-html .link-19 {
    color: #959595;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    height: 24px;
    left: 232px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 24px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .item-14 {
    align-items: flex-start;
    border-color: #f2f2f2;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex: 0 0 auto;
    padding: 25px 0px 23px;
    position: relative;
    width: 360px;
  }
  
  .dic-daum-net-by-html .overlap-group-7 {
    height: 48px;
    position: relative;
    top: -1px;
    width: 321px;
  }
  
  .dic-daum-net-by-html .link-20 {
    color: #959595;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    height: 24px;
    left: 248px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 24px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .overlap-group-wrapper {
    height: 72px;
    position: relative;
    width: 360px;
  }
  
  .dic-daum-net-by-html .overlap-group-8 {
    height: 72px;
    position: relative;
    top: -1px;
    width: 325px;
  }
  
  .dic-daum-net-by-html .p-2 {
    color: transparent;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 72px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
  }
  
  .dic-daum-net-by-html .link-21 {
    color: #959595;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    height: 24px;
    left: 66px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 48px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .span-txt-example-2 {
    align-items: flex-start;
    display: flex;
    gap: 18.73px;
    padding: 0px 1.27px 0px 0px;
    position: relative;
    width: 360px;
  }
  
  .dic-daum-net-by-html .p-3 {
    color: transparent;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .link-22 {
    color: #959595;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .span-txt-example-3 {
    align-items: flex-start;
    display: flex;
    gap: 11.36px;
    padding: 0px 214.64px 0px 0px;
    position: relative;
    width: 360px;
  }
  
  .dic-daum-net-by-html .link-23 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 23px 197px 28px;
    position: absolute;
    top: 419px;
    width: 428px;
  }
  
  .dic-daum-net-by-html .div-card-word-3 {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eeeff0;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 1px;
    position: absolute;
    top: 752px;
    width: 430px;
  }
  
  .dic-daum-net-by-html .link-24 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    padding: 27px 34px;
    position: relative;
    width: 428px;
  }
  
  .dic-daum-net-by-html .span-info-source {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 290px;
  }
  
  .dic-daum-net-by-html .strong-4 {
    height: 25.5px;
    position: relative;
    width: 290px;
  }
  
  .dic-daum-net-by-html .text-wrapper-41 {
    color: #666666;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    left: 150px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 4px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .span-txt-source {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    padding: 4px 21px 0px 0px;
    position: relative;
    width: 290px;
  }
  
  .dic-daum-net-by-html .element-2 {
    color: #999999;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .KOREA-KK-jpg {
    height: 85px;
    position: relative;
    width: 58px;
  }
  
  .dic-daum-net-by-html .link-25 {
    align-items: flex-start;
    border-color: #eeeff0;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex: 0 0 auto;
    padding: 18px 222px 14.5px 34px;
    position: relative;
    width: 428px;
  }
  
  .dic-daum-net-by-html .span-img-comm-12 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/span-img-comm@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 15px;
    left: 385px;
    position: absolute;
    top: 20px;
    width: 9px;
  }
  
  .dic-daum-net-by-html .footer {
    align-items: flex-start;
    background-color: #ffffff;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    mix-blend-mode: normal;
    padding: 40px 435px 0px;
    position: relative;
    width: 1920px;
  }
  
  .dic-daum-net-by-html .div-inner-foot {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1050px;
  }
  
  .dic-daum-net-by-html .link-26 {
    align-items: flex-end;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e9e9e9;
    border-radius: 30px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 19px 43px 17px 42px;
    position: relative;
    width: 321px;
  }
  
  .dic-daum-net-by-html .ico-app-pc-png {
    height: 26px;
    position: relative;
    width: 26px;
  }
  
  .dic-daum-net-by-html .text-wrapper-42 {
    color: #000000;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .list-10 {
    height: 54.5px;
    position: relative;
    width: 1050px;
  }
  
  .dic-daum-net-by-html .item-15 {
    align-items: flex-start;
    display: inline-flex;
    gap: 12.68px;
    left: 291px;
    padding: 5px 6.12px 2.5px 2px;
    position: absolute;
    top: 24px;
  }
  
  .dic-daum-net-by-html .link-27 {
    color: #666666;
    font-family: "Dotum-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .text-wrapper-43 {
    color: #dcdcdc;
    font-family: "Dotum-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .item-16 {
    align-items: flex-start;
    display: inline-flex;
    gap: 10px;
    left: 408px;
    padding: 5px 6.13px 2.5px 0px;
    position: absolute;
    top: 24px;
  }
  
  .dic-daum-net-by-html .link-28 {
    color: #666666;
    font-family: "Dotum-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .item-17 {
    align-items: flex-start;
    display: inline-flex;
    gap: 13.35px;
    left: 507px;
    padding: 5px 6.12px 2.5px 2px;
    position: absolute;
    top: 24px;
  }
  
  .dic-daum-net-by-html .item-18 {
    align-items: flex-start;
    display: inline-flex;
    gap: 13.34px;
    left: 609px;
    padding: 5px 6.13px 2.5px 2px;
    position: absolute;
    top: 24px;
  }
  
  .dic-daum-net-by-html .item-link-2 {
    color: #666666;
    font-family: "Dotum-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    left: 711px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 28px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .div-foot-info {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 1050px;
  }
  
  .dic-daum-net-by-html .address {
    height: 26px;
    position: relative;
    width: 1050px;
  }
  
  .dic-daum-net-by-html .text-wrapper-44 {
    color: #999999;
    font-family: "Dotum-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    height: 20px;
    left: 418px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .link-29 {
    align-items: flex-start;
    display: inline-flex;
    left: 467px;
    padding: 0px 1.16px 0px 2px;
    position: absolute;
    top: 0;
  }
  
  .dic-daum-net-by-html .text-wrapper-45 {
    color: #999999;
    font-family: "Dotum-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .all-rights-reserved {
    color: #999999;
    font-family: "Dotum-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    height: 20px;
    left: 540px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
  }
  
  .dic-daum-net-by-html .text-wrapper-46 {
    color: #999999;
    font-family: "Dotum-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .div-kakaoindex {
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .dic-daum-net-by-html .overlap-7 {
    height: 24px;
    position: relative;
    top: -30px;
    width: 118px;
  }
  
  .dic-daum-net-by-html .link-30 {
    align-items: flex-start;
    background-color: #3d4351;
    display: flex;
    left: 0;
    padding: 5px 12.66px 5px 11px;
    position: absolute;
    top: 0;
    width: 118px;
  }
  
  .dic-daum-net-by-html .text-wrapper-47 {
    color: #eeeeee;
    font-family: "MS PGothic-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dic-daum-net-by-html .div-minidaum-gnb {
    align-items: flex-start;
    display: flex;
    gap: 24px;
    left: 1388px;
    padding: 8px 0px 0px;
    position: absolute;
    top: 25px;
    width: 100px;
  }
  
  .dic-daum-net-by-html .link-31 {
    border: 1px solid;
    border-color: #e4e4e4;
    height: 24px;
    position: relative;
    width: 52px;
  }
  
  .dic-daum-net-by-html .text-wrapper-48 {
    color: #666666;
    font-family: "Dotum-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    height: 14px;
    left: 10px;
    letter-spacing: -1px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 5px;
    white-space: nowrap;
    width: 33px;
  }
  
  .dic-daum-net-by-html .button-2 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/1a08b7e6afe7cc8a79d9fa46c9b068ff/img/button@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 24px;
    position: relative;
    width: 24px;
  }
  