:root {
  --BIG-font-family: "NotoSans-Medium", Helvetica;
  --BIG-font-size: 20px;
  --BIG-font-style: normal;
  --BIG-font-weight: 500;
  --BIG-letter-spacing: 0px;
  --BIG-line-height: normal;
  --big2-font-family: "NotoSans-SemiBold", Helvetica;
  --big2-font-size: 20px;
  --big2-font-style: normal;
  --big2-font-weight: 600;
  --big2-letter-spacing: 0px;
  --big2-line-height: normal;
  --black: rgba(0, 0, 0, 1);
  --error: rgba(255, 85, 85, 1);
  --headline-font-family: "NotoSans-SemiBold", Helvetica;
  --headline-font-size: 24px;
  --headline-font-style: normal;
  --headline-font-weight: 600;
  --headline-letter-spacing: 0px;
  --headline-line-height: normal;
  --medium-font-family: "Inter-Medium", Helvetica;
  --medium-font-size: 18px;
  --medium-font-style: normal;
  --medium-font-weight: 500;
  --medium-letter-spacing: 0px;
  --medium-line-height: normal;
  --no-1: rgba(31, 0, 92, 1);
  --no-2: rgba(120, 68, 225, 1);
  --no-3: rgba(72, 0, 219, 1);
  --no-4: rgba(49, 28, 92, 1);
  --no-5: rgba(56, 0, 168, 1);
  --small-font-family: "NotoSans-DisplayMedium", Helvetica;
  --small-font-size: 16px;
  --small-font-style: normal;
  --small-font-weight: 500;
  --small-letter-spacing: 0px;
  --small-line-height: normal;
  --smallest-font-family: "NotoSans-DisplayMedium", Helvetica;
  --smallest-font-size: 14px;
  --smallest-font-style: normal;
  --smallest-font-weight: 500;
  --smallest-letter-spacing: 0px;
  --smallest-line-height: normal;
  --subtitle-font-family: "NotoSans-Medium", Helvetica;
  --subtitle-font-size: 32px;
  --subtitle-font-style: normal;
  --subtitle-font-weight: 500;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: normal;
  --title-font-family: "NotoSans-Bold", Helvetica;
  --title-font-size: 48px;
  --title-font-style: normal;
  --title-font-weight: 700;
  --title-letter-spacing: 0px;
  --title-line-height: normal;
  --white: rgba(255, 255, 255, 1);
  --x-380-0a-8: rgba(239, 232, 255, 1);
}
